.header-navigation
{
	float:right;
	
	width:72.6962457337884%;
	
	padding-top: 37px;
}
.header-navigation ul li
{
	list-style-type: none;
	
	float:left;
	
	margin-right:3.52112676056338%; 
	
	border:1px solid transparent;
	
}
.search-button-top
{
	float:right;
	margin-right: 0px;
    background: transparent;
	padding-top: 42px;
}
.header-navigation ul li a
{
	text-decoration: none;
	font-family: 'Lato ', sans-serif;

	padding-left: 9px;
	padding-right: 9px;
	font-size: 0.875em;
	color:white;
	line-height: 28px;

}
.header-navigation ul li:hover 
{
	border:1px solid white;
	border-radius: 5px;
}
