.main-wrapper
{
    width:100%;
}
.header-wrapper
{
	width:100%;	
	background-color: red;
	overflow: hidden;

}
.header-top-wrapper
{
	width:100%;
	
	position: fixed;
	z-index: 2;

}

.menu-wrapper
{
	max-width: 73.25em;
		
	background:transparent;
	margin: 0 auto;
    		
    
}
.header-logo
{
	float:left;
	padding-top: 30px;
	
}

.slider-wrapper
{
	height:100%;
	width:100%;
	margin:0 auto;
	overflow: hidden;
	position:relative;

}



.slider-long
{
  
 height:100%;
  position: absolute;
  background-color: yellow;
 

}
.slides
{


 height:100%;
  
  float: left;
  position:relative;
  
}
.slides img
{

	float:left;
	width:100%;
	height:100%;
	
}



.services-wrapper
{
	height: 520px;
	background-color:#ffffff;
	
	width:100%;
	
 }   
.services
{
	max-width:75em;
	height:376px;
	
	background-color: white;
	padding-top: 82px;
    padding-bottom: 66px;
    padding-right: 0.3645833333333333%;
    margin:0 auto;
    


}
.counter
{
	height:176px;
	width:100%;
	background-color: #e36968;
	color: #fafaf8;
}
.counter-content
{
	max-width:75em;
	padding-right: 8px;
	margin:0 auto;
	font-family: 'Lato';
}
.counter-text
{	
	text-align:center;
	font-size: 1em;
	font-weight: bold;
	float:left;
	width:100%;

}
.first
{
	width:26%;
}
.second
{
	width:24%;
}
.third
{
	width:25.83333333333333%;
}
.fourth
{
	width:24.16666666666667%;
	
}
.counter-text-number
{
	width:100%;
	padding-top: 54px;
	padding-bottom: 8px;
	padding-right: 9px;
	font-size:2.25em; 
	font-family: 'Lato';
	font-weight: lighter;
	letter-spacing: 1px;
}
.features-wrapper
{
	width:100%;
	
}
.features
{
	width:33.33333333333333%;
	
	float:left;
	color:#fffdff;

}

.one
{
	background-color: #4e449a;
	
}
.two
{
	background-color: #63d9ff;
}
.three
{
	background-color: #abd373;
}
.features-content
{ 

	padding-right: 12.5%;
	padding-left: 12.5%;
}
.image-wrapper
{
	width: 100%;
	height:552px;
	position: relative;
	
	
}
.image-wrapper img
{
	width:100%;
	
	height:100%;

}


.footer-wrapper
{
	width:100%;
	height:692px;
	background-color: #1a1c28;
	position:relative;
}
.footer-content
{
	max-width:73.125em;
	margin:0 auto;
	
}
.footer-div
{
	width:25.64102564102564%;
	background-color: #1a1c28;
	float:left;
	font-family: 'Lato';
	 color:#a5b3bc;
	
}

.different
{
	width:23.07692307692308%;
}