.search-button-top
{
	float:right;
	margin-right: 0px;
    background: transparent;
	padding-top: 42px;
}
.button-slider
{
	position: absolute;
	top:55.88888888888889%;
	z-index: 6;
	
}

.left
{
	
	left:5.104166666666667%;
}
.right
{
	
	right:5.104166666666667%;
}
.slider-long
{
  
 height:100%;
  position: absolute;
  background-color: yellow;
 

}
.slides
{


 height:100%;
  
  float: left;
  position:relative;
  
}
.slides img
{

	float:left;
	width:100%;
	height:100%;
	
}
.banner-Wrapper
{
	width:100%;
	height:22.91280148423006%;
	
	
	position: absolute;
	top:51.02040816326531%;
	z-index: 4;
}
.banner-Wrapper img
{
	height:100%;
	width:100%;
}

.banner-text-Wrapper 
{	
	position:absolute;
	height:100%;
	width:40.20833333333333%;
	top:0%;
	margin-left:29.79166666666667%;
	width:40.20833333333333%;
	
	z-index: 10;
	
}
.banner-text-Wrapper img
{
	height:100%;
}

h2
{
	font-size: 0.875em  ;
	
	font-weight: bold;
}
.header
{
	margin-left:16.48351648351648%;
	color: black;
	padding-bottom: 22px;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 1px;
	
}

.top-header
{	
	padding-top: 15px;
}
.bottom-header
{
	padding-top: 17px;
}
.text-wrapper
{
	
	line-height: 24px;
	font-size: 0.875em;
	font-family: 'Lato';

}
.counter-text
{	
	text-align:center;
	font-size: 1em;
	font-weight: bold;
	float:left;
	width:100%;

}
.first
{
	width:26%;
}
.second
{
	width:24%;
}
.third
{
	width:25.83333333333333%;
}
.fourth
{
	width:24.16666666666667%;
	
}
.counter-text-number
{
	width:100%;
	padding-top: 54px;
	padding-bottom: 8px;
	padding-right: 9px;
	font-size:2.25em; 
	font-family: 'Lato';
	font-weight: lighter;
	letter-spacing: 1px;
}

.features-header
{
	padding-top: 77px;
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: bold;
}
.features-text
{
	padding-top: 14px;
	line-height: 24px;
	font-size: 0.875em;
	font-family: 'Lato';

}
.image-text-wrapper
 {
    position: absolute;
    width: 100%;
    top: 30.234234%;
    left: 0px;
     color: white;
}



.image-text-top {
    font-family: "Lato";
    font-size: 29px;
    padding-bottom: 16px;
    text-align: center;
}

.image-text-top-span
 {
    font-family: "Lato";
    font-size: 31px;
    font-weight: bold;
    text-align: center;
}

.image-text-mid 
{
    font-family: "Lato";
    font-size: 14px;
    padding: 0px 35px 50px 35px;
    text-align: center;
}

.image-text-purchase {
	position:absolute;
	top:53.79061371841155%;  
	/*width:10.41666666666667%; */
    width:100%;
    margin: 0 auto;
    text-align: center;

}

.image-text-purchase a {
    padding: 19px 59px 24px 59px;
    text-decoration: none;
    font-family: "lato";
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    background: url(../images/image-button.png) no-repeat;
   
    color: #263b56;
    display: inline-block;
}

.button
{
	padding-bottom: 69px;
	padding-top: 47px;
	
	
}
.purchase
{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 17px;
	padding-right: 17px;
	border:1px solid white;
	border-radius: 5px;
	font-size: 0.875em;
	font-weight: bold;
	color:#fffdff;
	font-family: 'Lato', sans-serif;

}
.footer-logo
{
	padding-top: 82px;
	padding-bottom: 15px;
	float:left;
}
.footer-text
{
	line-height: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	
	float:left;
	width: 90.66666666666667%;
	font-size: 0.875em;
	color:#73848c;
	

}
.read-more
{
	float: left;
	padding-top: 12px;
	padding-bottom: 31px;
	border-bottom: 1px solid #25323b;
	width: 90.66666666666667%;
}
.link-text
{
	margin-left: 8px;
	padding-top: 4px;
	color: #1b9a7f;
	
}
a
{
	text-decoration: none;
}


 .footer
{
	padding-top:99px;
	padding-bottom: 21px;
	font-size: 1.4375em;
	color:#dcdddf;

	
	

}

.title
{
	font-size: 1em;
	margin-top: -2px;
	padding-bottom: 7px;
	font-weight: bold;
}
.footer-div img
{
	float:left;
}
.title-blog-text
{
	width:74.26470588235294%;
	float:left;
	padding-left: 7.352941176470588%;
	
	
}
.text-blog
{
	line-height: 24px;
	font-size: 0.875em;
	color:#73848c;
}

.links
{
	padding-bottom: 15px;
	font-size: 1.4375em;
}
.date
{
	padding-bottom: 9px;
	line-height: 24px;
}

.contact-title
{
	font-size: 1.4375em;
	
	padding-bottom: 15px;
	padding-top: 99px;
	color:#dcdddf;
}
.office
{
	font-size: 1em;
	padding-bottom: 13px;
	font-weight: bold;
	color:#a1afb8;
}
.contact-text
{
	font-size: 0.875em;
	line-height: 24px;
	color:#73848c;
}
.subscribe-header
{
	padding-left: 29.41176470588235%;
	font-size: 1em;
	margin-top: -3px;
	font-weight: bolder;
	color:#a1afb8;

}
.subscribe-text
{	
	padding-left: 29.41176470588235%;
	font-size: 0.875em;
	padding-top: 4px;
	color:#73848c;
}